* {
  box-sizing: border-box;
}

body {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

main,
.intro {
  margin: 0 1rem;
}

header {
  text-align: center;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 25px;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

.intro p {
  margin: 0.5rem 0;
  color: #aaa;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  border-top: 2px solid #2d3945;
  padding: 0 0 30px 0;
  margin: 3px 0;
}

fieldset legend {
  float: left;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 25px 0;
}

label {
  color: #55687a;
}

label:not(:first-of-type) {
  margin-top: 15px;
}

input,
select,
textarea {
  display: block;
  background: #eee;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

#zip {
  width: 175px;
}

textarea {
  overflow: auto;
  resize: none;
}

.banner {
  background: #2d3945;
  color: white;
  padding: 25px 0;
}

.intro {
  border-bottom: 5px solid #2d3945;
  padding: 1rem 0;
}

.copyright {
  display: block;
  font-size: 14px;
  text-align: center;
}

#newsletter {
  display: flex;
  flex-direction: row;
}

::placeholder {
  text-align: right;
  font-size: 0.9rem;
  font-style: italic;
  color: #aaa;
}

:focus {
  outline: none;
  outline: 2px solid #436f9c;
}

@media screen and (min-width: 768px) {
}
